
langchain==0.1.16
langchain-community==0.0.32
langchain-groq

langchain-huggingface
faiss-cpu
sentence-transformers
python-docx
python-pptx
PyMuPDF
python-dotenv
tqdm
docx2txt
streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
openai
faiss-cpu
tiktoken
pypdf
python-dotenv
transformers
torch
torchvision
